* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Header Section */
.header {
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    padding: 4%;
    background-color: #da8e91;
}

.header .logo {
    width: 45%;
}

.header .logo img {
    width: 45%;
    cursor: pointer;
}

.header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 60%;
}

.header ul li {
    margin: 0 65px;
    font-size: 25px;
}

.header ul li a {
    text-decoration: none;
    position: relative;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.921);
    font-weight: 500;
}

a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #000000a7;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
}

a:hover::after {
    width: 100%;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20vh;
}

.hero .left {
    width: 48%;
}

.hero .left img {
    width: 100%;
}

.hero .right {
    width: 40%;
    margin-bottom: 180px;
}

.hero .right .text h3 {
    font-size: 7vh;
}

.hero .right .text h1 {
    font-size: 14vh;
    color: #da8e91;
}

.right .mail_sec {
    width: 100%;
    margin-top: 30px;
}

.right .mail_sec .mail {
    width: 400px;
    height: 50px;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid black;
    padding: 5px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
}

.right .mail_sec .mail .button {
    width: 50px;
    height: 40px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 2px;
    font-weight: 500;
    cursor: pointer;
}

.right .mail_sec .mail .button:hover {
    background-color: #e2898c;
    border: #e2898c;
    color: whitesmoke;
}

.right .mail_sec .mail #mail {
    border: none;
    outline: none;
    padding: 8px;
    height: 100%;
    width: 80%;
    font-size: 20px;
}

.right .ball {
    display: flex;
    align-items: center;
}

.round {
    margin: 10px 10px;
    width: 385px;
    height: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: red; /* Default color */
}

.right p {
    font-size: 25px;
    margin: 5px 0;
}
